* {
border:0;
margin:0;
padding:0;
box-sizing: border-box;
box-shadow: none;
}

body {
  font-family: "Open Sans", serif;
  font-size: 12px;
}

#input-container {
  background-color: #E5F3F2 ;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
}

#input-content,
footer {
  width: 70%;
  margin: auto;
}

h1 {
  color: #00A79D ;
  font-family: "Roboto Slab", serif;
  font-size: 3rem;
  margin: 3% auto 3% auto;
  text-align: center;
}

#h1-style {
  color: #6D6E71 ;
}

input {
  align-self: center;
  border: solid #D1D3D4 0.5px;
  box-shadow: 0 0 0 .1rem rgba(187,189,191,0.3);
  color: #939598 ;
  font-size: 1.5rem;
  letter-spacing: .05rem;
  margin: 0 0 2% 0%;
  padding: 0.2% 1.5% 0.2% 1%;
  width: 100%;
}

#save-button,
#show-more-button {
  background-color: #00A79D ;
  color: #FFFFFF ;
  font-size: 1.5rem;
  margin: 0 0 3% 0;
  padding: 1% 0;
  width: 100%;
}

.importance-filter-button:hover,
#save-button:hover,
#show-more-button:hover {
  background-color: #045e55;
  color: #FFFFF;
}

#save-button:disabled,
#show-more-button:disabled, 
input[type="button"].inactive {
  background-color: #F5F5F5;
  color: #00A79D;
}

input[type="submit"]:hover{
  background-color: #045e55;
  color: #FFFFF;
}

#spacer {
  margin-bottom: 7.5rem;
  margin-top: 12.4%;
}

#filter-container {
  padding: 2% 0 2% 0;
}

#main-menu {
  display: flex;
  width: 70%;
  align-content: center;
  margin: auto;
}

#main-menu button {
  background-color: #00A79D ;
  color: #FFFFFF ;
  font-size: 1rem;
  padding: 0.43rem;
  width: 34%;
  border: 2px solid #E5F3F2;
  height: 2.5rem;
}

#search-container {
  text-align: center;
  width: 70%;
  margin: auto;
}

#search-input {
  font-size: 1.3rem;
  margin: 0;
  width: 99.7%;
  border: 2px solid #E5F3F2;
  padding: 0.3rem;
}

#importance-filter-container {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
}

.importance-filter-button {
  background-color: #00A79D ;
  color: #FFFFFF ;
  font-size: 1.3rem;
  width: 20%;
  margin: 0 0 0 0;
  padding: 0.4rem;
}

#show-completed-container {
  width: 70%;
    border: 2px solid #E5F3F2;
    padding: 0.28rem;
    margin: auto;
    text-align: center;
}

#show-completed-container label {
  font-size: 1.15rem;
  color: #939598;
}

#show-completed-tasks {
  height: 25px;
  width: 25px;
  box-shadow: none;
  margin: 0 0 0 0;
  vertical-align: bottom;
  position: relative;
  top: 2px;
}

#search-container.hidden,
#importance-filter-container.hidden,
#show-completed-container.hidden {
  display: none;
}

#text-filter.inactive,
#importance-filter.inactive,
#completed-filter.inactive {
  background-color: #F5F5F5;
  color: #00A79D;
}

h4 {
  color: #00A79D ;
  font-size: 1.5rem;
  margin: 0 0 0.5rem 0;
}

article button {
  display: inline-block;
  height: 25px;
  width: 25px;
  padding: 0 0 0 0;
  margin: 0 2% 0 0;
}

#task-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.task-element {
  position: relative;
  width: 70%;
}

h2 {
  display: inline-block;
  color: #6D6E71 ;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 1.5rem;
}

h3 {
  display: inline-block;
  color: #6D6E71 ;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 1rem;
  vertical-align: top;
  margin: 0 0.5rem 0 0;
  line-height: 24px;
}

.delete-button {
  background: url("images/delete.svg") no-repeat;
  position: absolute;
  right: .55rem;
  top: 0.35rem;
  margin: 0 0 0 0;
}

.delete-button:hover {
  background: url("images/delete-hover.svg") no-repeat;
}

.task-description {
  display: inline-block;
  color: #939598 ;
  font-size: 1.2rem;
  margin: 0 0 1rem 0;
  text-align: justify;
  word-wrap: break-word;
}

.importance-up-button {
  background: url("images/upvote.svg") no-repeat;
} 
.importance-down-button {
  background: url("images/downvote.svg") no-repeat;
}

.importance-up-button:hover {
  background: url("images/upvote-hover.svg") no-repeat;
}

.importance-down-button:hover {
  background: url("images/downvote-hover.svg") no-repeat;
}

.importance-value {
  line-height: 24px;
  font-family: "Open Sans", serif;
  font-weight: 400;
}

.task-complete {
  float: right;
  width: 28px;
  height: 25px;
  box-shadow: none;
}

.task-complete-label {
  float: right;
}

hr {
  background-color: #D1D3D4 ;
  border: none;
  height: 1px;
  margin: 1rem 0 1rem 0;
}

@media screen and (max-width: 720px) {

  #input-content,
  footer {
    align-content: center;
    width: 505px
  }

  h1 {
    font-size: 2rem;
    margin: 2% auto 2% auto;
    width: 50%;
  }

  input {
    height: 5%; 
    margin: 1.1% 0 1.2% 0;
    font-size: 1.2rem;
  }

  #save-button,
  #show-more-button {
    height: 5%; 
    margin: 1.1% 0 2% 0;
    font-size: 1.2rem;
  }

  #spacer {
    font-size: 1rem;
    margin-top: 45px;    
  }

  #filter-container,
  #main-menu,
  #sub-menu,
  #search-container,
  #importance-filter-container,
  #show-completed-container {
    width: 505px;
    margin: auto;
  }

  #main-menu button {
    font-size: 1rem;
  }

  #search-input {
    width: 99.2%
  }

  h4 {
  font-size: 1.2rem;
  margin: 0 0 0.3rem 0;
  }

  #filter-container {
    padding: 2% 0 3% 0;
  }

  .task-element {
    width: 505px;
    height: 5%;
    margin: 0 0 2% 1px;
    font-size: 1.2rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: .8rem;
    margin: 0 0.3rem 0 0;
  }

  article button {
    width: 20px;
    height: 20px;
    margin: 0 0.3rem 0 0;
  }

  .task-description {
    padding: 0 0 0.5rem 0;
  }

  .task-importance-element,
  .task-details {
    font-size: 1rem;
  }

  .task-complete {
    height: 15px;
  }

  hr {
  margin: 0.5rem 0 1rem 0;
  }

}

@media screen and (max-width: 520px) {

  #input-content {
    width: 95vw;
  }

  #title-input
  #task-input,
  .task-element {
    width: 95vw;
    margin: 0 0 2.5% 0;
  }

  #save-button {
    width: 95vw;
    margin-bottom: 2%;
  }

  #spacer {
    font-size: 5.5rem;
    margin: 12% 0 0 0;
  }

  #sub-menu {
    width: 95vw;
    margin: auto;
  }

  #search-input {
    width: 94vw;
    margin: auto;
    font-size: 1rem;
    padding: 1.2%;
  }

  #show-completed-container {
    width: 95vw;
    padding: 0.8%;
  }

  #show-completed-container label {
    font-size: 0.8rem;
  }

  #show-completed-tasks {
    height: 20px;
    width: 20px;
  }

  #main-menu,
  #filter-container,
  #search-container,
  #importance-filter-container {
    width: 95vw;
  }

  #main-menu button {
    font-size: 0.8rem;
    padding: 1%;
  }

  .importance-filter-button {
    font-size: 0.8rem;
  }

  footer {
    width: 95vw;
  }

  #show-more-button {
    width: 95vw;
    margin: auto;
  }

  #filter-container {
    padding: 3% 0 3% 0;
  }
 
}

@media screen and (max-width: 320px) {
 
/*do not shrink below 320px*/

  body {
    width: 320px;
  }

  #input-container,
  #input-content {
    height: 158px;
  }

  #title-input,
  #task-input,
  #save-button {
    height: 25px;
    width: 300px;
    margin: 3px 0 3px 0px;
    font-size: 1.2rem;
  }

  #save-button {
    height: 30px;
  }

  #filter-container {
    align-content: center;
    padding: 2% 0 5% 0;
  }

  #main-menu,
  #sub-menu {
    margin: 0 0 0 -3px;
  }

  #sub-menu #search-input {
    width: 295px;
  }

  h1,
  .task-element,
  #search-input,
  #importance-filter-container,
  footer,
  #show-more-button,
  #spacer,
  #filter-container,
  #main-menu,
  #sub-menu,
  #search-container,
  #importance-filter-container,
  #show-completed-container {
    width: 300px;
  }
  
}